{% extends 'base.html' %}

{% block content %}
{% for object in object_list  %}
<!-- Card -->
<div class="card card-cascade wider reverse">
    
  <!-- Card image -->

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong><a href="#">{{ object.title }}</a></strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">{{object.release_date}}</h6>
    <!-- Text -->
    <p class="card-text">
    </p>

    <!-- Linkedin -->
    <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
    <!-- Twitter -->
    <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
    <!-- Dribbble -->
    <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

    <a class="px-2 fa-lg fb-ic" href="{% url 'add_comment_to_post' pk=object.pk %}">Buton</a>


  </div>
  
</div>
<br>
{% endfor %}


{% endblock %}
